.cta-hero{

width:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:70px 7%;
gap:70px;

}

.cta-left{

width:52%;
padding-left:40px;
display:flex;
flex-direction:column;
align-items:flex-start;

}

.cta-callback{

width:100%;
max-width:700px;

}

.cta-logo{

width:250px;
display:block;
margin-bottom:8px;

}

.cta-description{

max-width:700px;
font-size:29px;
line-height:1.25;
font-weight:500;
color:#222;
margin-bottom:45px;
text-align:justify;

}

.cta-callback h2{

font-size:34px;
font-weight:500;
margin-bottom:10px;

}

.cta-callback p{

font-size:17px;
color:#555;
margin-bottom:18px;

}

.cta-form{

display:flex;
width:420px;
height:42px;

}

.cta-select{

width:65px;
border:1px solid #ddd;
outline:none;
padding-left:10px;
background:#fff;

}

.cta-input{

flex:1;
border:1px solid #ddd;
border-left:none;
border-right:none;
padding:0 15px;
outline:none;

}

.cta-button{

width:120px;
border:none;
background:#ff6600;
color:#fff;
cursor:pointer;
font-weight:600;
transition:.3s;

}

.cta-button:hover{

background:#e95c00;

}

.cta-right{

width:48%;
display:flex;
justify-content:center;
align-items:center;

}

.cta-phone-wrap{

position:relative;
width:430px;
height:560px;

}

.cta-phone{

position:absolute;
height:auto;
filter:drop-shadow(0 18px 28px rgba(0,0,0,.18));

}

.cta-phone-back{

border-radius: 28px;
width:250px;
left:30px;
top:10px;
z-index:1;

}

.cta-phone-front{
border-radius: 28px;
width:250px;
right:10px;
top:115px;
z-index:2;

}

@media(max-width:950px){

.cta-hero{

flex-direction:column;
padding:50px 20px;

}

.cta-left,
.cta-right{

width:100%;

}

.cta-left{

padding-left:0;

}

.cta-description{

font-size:18px;

}

.cta-logo{

width:220px;

}

.cta-form{

width:100%;

}

.cta-phone-wrap{

width:360px;
height:470px;

}

.cta-phone-back{

width:220px;
left:5px;

}

.cta-phone-front{

width:220px;
right:0;
top:100px;

}

}