*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
}

footer{
    background:#081325;
    color:#fff;
    width:100%;
    padding:40px 0 20px;
}

.footer-container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
}

.logo-box{
    width:280px;
}

.logo{
    width:240px;
    margin-bottom:20px;
    height:auto;
    display:block;
}

.logo-box p{
    color:#d6d6d6;
    font-size:16px;
    line-height:1.6;
    display:none;
}

.footer-box h3{
    font-size:22px;
    margin-bottom:20px;
}

.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin-bottom:16px;
}

.footer-box ul li a{
    color:#d6d6d6;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#4da3ff;
}

/* Bottom */

.footer-bottom{
    width:90%;
    max-width:1200px;
    margin:35px auto 0;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.download-section h3{
    margin-bottom:18px;
}

.app-btn{
    width:210px;
    background:#1b2b42;
    border-radius:8px;
    padding:10px;
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:12px;
    cursor:pointer;
    transition:.3s;
}

.app-btn:hover{
    background:#007bff;
}

.app-btn i{
    font-size:32px;
}

.play-icon{
    width:32px;
    height:32px;
}

.app-btn span{
    color:#d6d6d6;
    font-size:13px;
}

.app-btn h4{
    font-size:18px;
}

.follow-section p{
    margin-bottom:15px;
    font-size:20px;
}

.social-icons{
    display:flex;
    gap:25px;
}

.social-icons a{
    width:45px;
    height:45px;
    background:#24344d;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:18px;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    background:#007bff;
}

.copyright{
    width:90%;
    max-width:1200px;
    margin:25px auto 0;
    border-top:1px solid rgba(255,255,255,.2);
    padding-top:18px;
    text-align:center;
    color:#d6d6d6;
    font-size:16px;
}

@media(max-width:992px){

.footer-container{
    flex-direction:column;
    gap:30px;
}

.footer-bottom{
    flex-direction:column;
    align-items:flex-start;
    gap:30px;
}

.logo-box{
    width:100%;
}

}












