/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#fafafa;

    color:#111;

}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

/* ===========================
      SECTION
=========================== */

.insights{
    padding:90px 0;
}

.section-heading{
    text-align:center;
    margin-bottom:45px;
}

.section-heading h1{

    font-size:72px;

    font-weight:900;

    color:#111111;

    line-height:1.1;

    letter-spacing:-2px;

    margin-bottom:20px;

}

.section-heading span{

    color:#ff6b00;

    font-weight:900;

}

.section-heading p{

    max-width:680PX;

    margin:20px auto;

    color:#444;

    font-size:20.02px;

    line-height:100%;

    font-weight:400;

}

/* ===========================
      BUTTONS
=========================== */

.buttons{

    display:flex;

    justify-content:center;

    align-items:center;

    margin-top:35px;

}

.btn{
    display:inline-block;
    padding:14px 28px;
    margin:10px;
    border-radius:8px;
    text-decoration:none;
    font-size:15px;
    font-weight:600;
    transition:.4s;
}

.white-btn{

    background:#fff;

    color:#222;

    border:2px solid #ff6b00;

    padding:16px 34px;

    border-radius:10px;

    font-size:18px;

    font-weight:600;

}

.white-btn:hover{

    background:#ff6b00;

    color:white;

}

/* ===========================
      GALLERY
=========================== */

/* =========================
   GALLERY SECTION
========================= */

.gallery{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

.gallery .item{
    position:relative;
    width:100%;
    max-width:1200px;
    overflow:hidden;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:0.4s ease;
    cursor:pointer;
}

.gallery .item img{
    width:100%;
    height:auto;
    display:block;
    border-radius:20px;
    transition:transform 0.5s ease;
}

/* Hover Effect */

.gallery .item:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

.gallery .item:hover img{
    transform:scale(1.03);
}

/* Overlay */

.gallery .item::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
    transparent,
    rgba(0,0,0,.45));

    opacity:0;

    transition:.4s;

}

.gallery .item:hover::before{

    opacity:1;

}

.gallery .item{

opacity:0;

transform:translateY(40px);

transition:.8s;

}

.gallery .item.show{

opacity:1;

transform:translateY(0);

}

/* ==========================
   UNIVERSITY SECTION
========================== */

.university{

    padding:80px 0;

    margin-top:60px;

    background:#fff;

    padding:80px 0;

}

.university .section-heading{
    text-align:center;
    margin-bottom:40px;
}

.university .section-heading h1{
    font-size:52px;
    font-weight:700;
    color:#000000;
}

.university .section-heading span{
    color:#ff6b00;
}

.university .section-heading p{
    width:650px;
    max-width:90%;
    margin:18px auto;
    color:#666;
    font-size:17px;
    line-height:28px;
}


/* ==========================
   UNIVERSITY LOGO SLIDER
========================== */

.logo-slider{

    width:100%;

    overflow:hidden;

    margin:40px auto;

    position:relative;

}

.logo-track{

    display:flex;

    align-items:center;

    gap: 70px;

    width:max-content;

    animation:logoScroll 20s linear infinite;
}

.logo-track img{

    width:95px;

    height:95px;

    object-fit:contain;

    flex-shrink:0;

    background:transparent;

    transition:0.5s ease;

}

.logo-track img:hover{

    transform:scale(1.1);

}

 .logo-slider:hover .logo-track{

    animation-play-state:paused;

}
@keyframes logoScroll{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(-50%);

    }

}

/* Scrollbar for University */

.logo-track::-webkit-scrollbar{

    height:8px;

}

.logo-track::-webkit-scrollbar-track{

    background:#eeeeee;

    border-radius:10px;

}

.logo-track::-webkit-scrollbar-thumb{

    background:#ff6600;

    border-radius:10px;

}

.logo-track::-webkit-scrollbar-thumb:hover{

    background:#e65c00;

}

.logo-track img{

    width:90px;
    height:90px;

    object-fit:contain;

    background:#fff;

    padding:10px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

    flex-shrink:0;

}

.logo-track img:hover{

    transform:translateY(-8px) scale(1.08);

}
.logo-track,
.company-track{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:45px;

}

.logo-track img{

    width:90px;
    height:90px;

    object-fit:contain;

    background:transparent;

    padding:0;

    border:none;

    border-radius:0;

    box-shadow:none;

    transition:0.5s ease;

    cursor:pointer;

}

.company-track img{

    width:160px;
    height:70px;

    object-fit:contain;

    background:transparent;

    padding:0;

    border:none;

    border-radius:0;

    box-shadow:none;

    transition:0.3s ease;

    cursor:pointer;

}

.logo-track img:hover,
.company-track img:hover{

    transform:translateY(-8px) scale(1.05);

}


/* ==========================
   PRESTIGE NETWORK
========================== */


.network{

    margin-top:40px;

    background:#D9D9D933;

    padding:80px 0;

}

.network .section-heading{

    text-align:center;

    margin-bottom:60px;

}

.network .section-heading h1{

    font-size:52px;

    font-weight:700;

}

.network .section-heading span{

    color:#ff6b00;

}

.network .section-heading p{

    width:650px;

    max-width:90%;

    margin:18px auto;

    color:#666;

    line-height:28px;

}
.company-slider{

    width:100%;

    overflow:hidden;

    margin:40px auto;

}

.company-track{

    display:flex;

    align-items:center;

    gap:67px;

    width:max-content;

    animation:companySlide 22s linear infinite;

}

.company-track img{

    width:170px;

    height:70px;

    object-fit:contain;

    flex-shrink:0;

    background:transparent;

    transition:.3s;

}

.company-track img:hover{
    transform:scale(1.08);
}

/* Scrollbar for Company */

.company-track::-webkit-scrollbar{

    height:8px;

}

.company-track::-webkit-scrollbar-track{

    background:#eeeeee;

    border-radius:10px;

}

.company-track::-webkit-scrollbar-thumb{

    background:#ff6600;

    border-radius:10px;

}

.company-track::-webkit-scrollbar-thumb:hover{

    background:#e65c00;

}

.company-track img{

    width:150px;

    height:70px;

    object-fit:contain;

    transition:.35s;

    cursor:pointer;

}

.company-track img:hover{

    transform:translateY(-8px);

}

@keyframes companySlide{

    0%{

        transform:translateX(0);

    }

    100%{

        transform:translateX(-50%);

    }

}
/* ===========================
    HOVER FLOAT
=========================== */

.gallery .item{

transition:0.4s ease;

transform:translateY(-8px);

}

.gallery .item:hover{

    transform:translateY(-8px);

}
.gallery .item.active{

transform:translateY(-8px) scale(1.02);

}

@media(max-width:768px){

.logo-track{

gap:40px;

}

.company-track{

gap:50px;

}

.logo-track img{

width:70px;
height:70px;

}

.company-track img{

width:110px;

}



.section-heading h1{

font-size:34px;

}

}


@keyframes companyScroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}
