
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ffffff;
    overflow-x:hidden;
}

/* =========================================
   CONTAINER
========================================= */

.containz{
    width:100%;
    max-width:1400px;
    padding:0 20px;
}

/* =========================================
   FEATURE SECTION
========================================= */

.feature-section{
    background:#ffffff;
    padding:80px 0;
}

/* =========================================
   HEADING
========================================= */

.small-title{
    text-align:center;
    color:#FF6600;
    font-size:28px;
    font-weight:700;
    letter-spacing:-2px;
    font-style: bold;
}

.main-title{
    text-align:center;
    font-size:22px;
    font-weight:600;
    margin-top:10px;
    line-height:100%;
    letter-spacing: -2%;
    font-style: semi-bold;
}

.main-title span{
    color:#FF6600;
}

.divider{
    width:90px;
    height:3px;
    background:#FF6600;
    margin:25px auto 60px;
    border-radius:50px;
}

/* ==========================
   CARDS
========================== */

.cardsz{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:20px;
    flex-wrap:nowrap;
}

.cardx{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.cardx-img{

    width:100%;
    height:300px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:2px;

}

/* IMAGE CONTAINER */

.cardx-img :nth-child(1){
    max-width: 444px;
    max-height: 275px;
    display:flex;
    overflow:visible;
}
.cardx-img :nth-child(2){
    max-width: 446px;
    max-height: 276px;
    margin-left: 100px;
}
.cardx-img :nth-child(3){
    max-width: 384px;
    max-height: 280px;
    display: flex;
    overflow: visible;
}

/* IMAGE */

.cardx-img img{

    width:90%;
    max-width:470px;
    height:auto;

    display:block;

    transition: all 2.5s cubic-bezier(0.22, 1, 0.36, 1);

    will-change:transform;

    backface-visibility:hidden;

}

/* ONLY IMAGE MOVES */

.cardx:hover .cardx-img img{

   transform: translateY(-15px) scale(1.05);

}

/* ==========================
   CARD TEXT
========================== */

.cardx h3{

    font-size:18px;
    font-weight:800;

    margin-top:0px;

    min-height:60px;

    display:flex;
    align-items:center;
    justify-content:center;
    max-width: 250px;
    max-height: 18px;
    top: 1521px;
    left: 612px;



}
.cardx p{

    margin-top:0px;

    line-height:1.8;

    color:black;

    font-weight: 400;
    font-size: 15px;
    
    padding:0 10px;

}
/* =========================================
   ACCREDITATION
========================================= */

.recognized-section{
    background:rgba(217, 217, 217, 0.2);

    max-width: 1439px;
    max-height:277px;
    top: 716px;
    left: 1px;
    opacity: 1;
    padding:20px 0;
    display: flex;
     justify-content: center;
      align-items: center;
}

.recognized-section .containz{
    
    max-width: 1142px;
   max-height: 100%;
    top: 771px;
    left: 149px;
    gap: 40px;
    display: grid;

}

.recognized{

    text-align:center;
    margin-left: 40px;
    margin-right: 40px;
    

}

.recognized h2{
    
    font-size:40px;

    font-weight:700;
    max-width: 1142px;
    max-height: 60px;

    font-family:'Poppins',sans-serif;
    
}

.recognized span{

    color:#FF6600;

}


.recognized p{
    text-align:center;
    font-size:28px;
    color:black;
    font-weight: 400;
    font-style: bold;
    line-height: 100%;
    max-width: 1142px;
    max-height: 68px;


}

/* =========================================
   TABLET
========================================= */

@media(max-width:992px){
    

.cards{

    gap:20px;

}

.card-img{

    height:auto;

}

.card-img img{

    max-width:auto;

}

.main-title{

    font-size:36px;

}

.logos{

    gap:40px;

}

}

/* =========================================
   MOBILE
========================================= */

@media(max-width:768px){

.feature-section{

    padding:60px 0;

}

.small-title{

    font-size:16px;

}

.main-title{

    font-size:30px;

}

.divider{

    margin-bottom:40px;

}

.cards{

    flex-direction:column;

    align-items:center;

    gap:55px;

}

.card{

    width:100%;

    max-width:auto;

}

.card-img{

    height:auto;

}

.card-img img{

    max-width:auto; 

}
.card:hover .card-img img{

    transform:translateY(-15px);

}

.card h3{

    font-size:22px;

}

.card p{

    font-size:15px;

}

.accreditation-section{

    margin-top:50px;

    padding:50px 0;

}

.accreditation h2{

    font-size:30px;

}

.logos{

    gap:25px;

}

.india-logo{

    max-width:auto;

}

.startup-logo{

    max-width:auto;

}

.iso-logo{

    max-width:auto;

}

}

/* =========================================
   SMALL MOBILE
========================================= */

@media(max-width:480px){

.container{

    padding:0 16px;

}

.main-title{

    font-size:26px;

}

.card-img img{

    max-width:200px;

}

.card h3{

    font-size:20px;

}

.card p{

    font-size:14px;

}

.accreditation h2{

    font-size:26px;

}

}

