<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Our Insights</title>

<link rel="stylesheet" href="style.css">

</head>

<body>
    <section class="insights">

    <div class="container">

        <div class="section-heading">

            <h1>Our <span>Insights</span></h1>

            <p>
                We teach real-world skills, connect you with mentors,
                and prepare you to crush the industry.
            </p>

            <div class="buttons">

                <a href="#" class="btn orange-btn">
                    Register for Webinar
                </a>

                <a href="#" class="btn white-btn">
                    Talk To Our Counsellor
                </a>

            </div>

        </div>

        <!-- Gallery -->

        <div class="gallery">

            <div class="item item1">
                <img src="images/Desktop.png" alt="Our Insights">
            </div>

            

        </div>

    </div>

</section>

<!-- ================= UNIVERSITY ================= -->

<section class="university">

    <div class="container">

        <div class="section-heading">

            <h1>
                Build with
                <span>Leading</span>
                Universities
            </h1>

            <p>

                We partner with top institutions to deliver
                world-class learning and exclusive access
                to cutting-edge resources empowering
                students for tomorrow.

            </p>

        </div>

        <div class="logo-slider">

            <div class="logo-track">

                <img src="images/Amity.jpg" alt="Amity University">
                <img src="images/GLA.png" alt="GLA University">
                <img src="images/hansraj.jpg" alt="Hansraj University">
                <img src="images/IILM.png" alt="IILM University">
                <img src="images/maitreyi.jpg" alt="Maitareyi University">
                <img src="images/rajdhani.png" alt="Rajdhani University">
                <img src="images/RKDF.jpg" alt="RKDF University">

            

            </div>

        </div>

    </div>

</section>

<!-- ================= NETWORK ================= -->

<section class="network">

    <div class="container">

        <div class="section-heading">

            <h1>

                Our
                <span>Prestige</span>
                Network

            </h1>

            <p>

                Alliances with bold startups and global
                leaders spanning top-tier industries
                and purpose-driven innovation.

            </p>

        </div>

        <div class="company-slider">

            <div class="company-track">

                <img src="images/Last_EY.png" alt="Ey_logo">
                <img src="images/Last_congnizant.jpeg" alt="Congnizat_logo">
                <img src="images/tcs.jpg" alt="Tcs_logo">
                <img src="images/Last_intensity.jpeg" alt="Intensity_logo">
                <img src="images/Last_learnyst.jpg" alt="learnyst_logo">
                <img src="images/Last_microsoft.jpg" alt="Microsoft_logo">


            </div>

        </div>

    </div>
</section>
<script src="script.js"></script>

</body>
</html>