*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:sans-serif;
background:#f9f9f9;

}



.feature-section{

padding:80px 5%;
background:white;

}



.container{

max-width:1300px;
margin:auto;

}



.small-title{

text-align:center;

font-weight:700;

color:#FF6600;

font-size:22px;

}



.main-title{

font-size:28.84px;

font-weight:700;

text-align:center;

margin-top:10px;

}



.main-title span{

color:#FF6600;

}



.divider{


width:86.43px;

height: 2.5px;

background:#FF6600;

margin:25px auto 60px;

border-radius:20px;

}



.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;   /* Prevent wrapping */
}




.card{
    flex: 1;
    min-width: 0;
    text-align: center;
}

.card img{
    width:446px;
    height: 240px;
    top: 9px;
    left: 52px;
    transition: all 2.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.card:hover img{
    transform: translateY(-15px) scale(1.05);
}




.card h3{


margin-top:20px;

font-size:22px;

font-weight:700;

}



.card p{
margin-top:8px;

color:black;

line-height:1.8;
text-align: center;

}
.accreditation-section{
    background: #D9D9D933;   /* Light Gray */
    padding: 30px 5%;
    text-align: center;
    width: 1439px;
height: 277px;

}


.accreditation{


margin-top:0px;


padding-top:20px;
border-top:1px solid #e2e4df5e;


text-align:center;

}




.accreditation h2{


font-size:50px;
font:poppins;
font-style: bold;

}



.accreditation span{


color:#FF6600; 

}




.logos{



display:flex;


justify-content:center;


gap:60px;


margin-top:0px;


flex-wrap:wrap;

}




.logos img{

object-fit:contain;
display: flex;
align-items: center;

}

.logos img:nth-child(1){
   width: 106.74980163574219px;
   height: 119.92878723144531px;
   opacity: 1;

}
.logos img:nth-child(3){
   width: 166px;
   height: 111px;
}



@media(max-width:768px){


.main-title{

font-size:30px;

}



.cards{


flex-direction:column;

align-items:center;


}



.accreditation h2{


font-size:28px;


}

}