<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>BAOIAM Features</title>


<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="why-baoiam.css">

</head>


<body>


<section class="feature-section">


<div class="container">


<p class="small-title">
WHY CHOOSE BAOIAMS?
</p>


<h1 class="main-title">

Everything You Need to

<span>Succeed</span>

</h1>



<div class="divider"></div>



<div class="cards">


<div class="card">

<img src="images/img3.png">

<h3>Industry Recognized</h3>

<p>
Earn certificates that employers trust and value.
</p>

</div>




<div class="card">

<img src="images/img2.png">

<h3>Learn Anytime</h3>

<p>
Access courses anytime, anywhere on any device.
</p>

</div>





<div class="card">

<img src="images/img1.png">

<h3>Interactive Community</h3>

<p>
Connect, collaborate and grow with a global community.
</p>

</div>



</div>
</section>



<section class="accreditation-section">

<div class="container">

<div class="accreditation">

<h2>

We are

<span>accredited</span>

by

</h2>

</div>




<div class="logos">


<img src="logos/in.png">

<img src="logos/sti.png">

<img src="logos/is0.png">



</div>


</div>
</div>


</section>



<script src="why-baoiam.js"></script>

</body>
</html>