<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testimonials</title>
  <link rel="stylesheet" href="testimonial.css" />
</head>
<body>

<section class="testimonials">
  <h1>Testimonials</h1>
  <p>Experts you guide, Mentors who matter. We teach what you need</p>

  <div class="slider">

    <div class="card side left">
      <h3>Rohit Sharma</h3>
      <span>Software Engineer at Byju's - 22 LPA</span>

      <p class="review">
        “BAOIAM’s learning and placement support helped me become a software engineer.”
      </p>
    </div>

    <div class="card main">
      <div class="top">
        <div class="profile">
          <img src="profile.jpeg" alt="profile" />

          <div>
            <h3>Apurva Kulpe</h3>
            <span>Risk Consultant - 9.2 LPA</span>
          </div>
        </div>

        <div class="stars big">★★★★★</div>
      </div>

      <p class="review main-review">
        “BAOIAM’s training, expert mentorship, and practical projects gave me the confidence to secure a 9.2 LPA package as a Risk Consultant.”
      </p>
    </div>

    <div class="card side right">
      <h3>Akhil P</h3>
      <span>Quality Engineer</span>

      <p class="review">
        “Hands-on projects and mentor guidance helped me grow my career.”
      </p>
    </div>

  </div>
</section>

</body>
</html>
