@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#fff;
    overflow-x:hidden;
}

.testimonials{
    width:100%;
    min-height:100vh;
    text-align:center;
    padding-top:90px;
}

.testimonials h1{
    font-size:60px;
    font-weight:900;
    color:#000;
    margin-bottom:35px;
}

.testimonials>p{
    font-size:28px;
    color:#111;
    margin-bottom:70px;
}

.testimonial-wrapper{
    width:100%;
    height:280px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:#fff;
    position:absolute;
    text-align:left;
    border-radius:12px;
    border:2px solid #ffe3cc;
    box-shadow:
        0 10px 24px rgba(255,122,28,.25),
        0 0 10px rgba(255,151,65,.18);
    transition:.5s;
}

/*------------------CENTER CARD------------------*/

.main-card{
    width:680px;
    min-height:225px;
    padding:24px 30px;
    z-index:5;
}

/*----------------SIDE CARDS----------------*/

.side-card{
    width:340px;
    height:145px;
    padding:14px 18px;
    z-index:1;
    cursor:pointer;
}

.side-card .review{
    margin-top:16px;
    font-size:13px;
    line-height:1.45;

    height:55px;
    overflow-y:auto;
}

.left-card{
    left:90px;
}

.right-card{
    right:90px;
}

.side-card:hover{
    transform:scale(1.04);
}

/*----------------TOP----------------*/

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.profile{
    display:flex;
    align-items:center;
    gap:18px;
}

.side-card .profile{
    gap:12px;
}

/*----------------AVATAR----------------*/

.avatar{
    width:72px;
    height:72px;
    border-radius:50%;
    object-fit:cover;
}

.side-card .avatar{
    width:42px;
    height:42px;
}

/*----------------TEXT----------------*/

.name{
    font-size:24px;
    font-weight:800;
    color:#000;
}

.role{
    font-size:18px;
    color:#333;
    margin-top:3px;
}

.review{
    margin-top:18px;
    font-size:18px;
    line-height:1.45;
    color:#222;
}

/*-------------SIDE TEXT-------------*/

.side-card .name{
    font-size:15px;
    font-weight:800;
}

.side-card .role{
    font-size:13px;
    margin-top:2px;
}

.side-card .review{
    margin-top:18px;
    font-size:13px;
    line-height:1.4;
}

/*----------------STARS----------------*/

.stars{
    color:#f28a3c;
    font-size:32px;
    letter-spacing:2px;
    white-space:nowrap;
}

.side-card .stars{
    font-size:19px;
}

/*----------------ANIMATION----------------*/

.fade{
    opacity:0;
    transform:scale(.96);
}

/*----------------MOBILE----------------*/

@media(max-width:900px){

.testimonials{
padding:40px 20px;
}

.testimonials h1{
font-size:40px;
margin-bottom:20px;
}

.testimonials>p{
font-size:18px;
margin-bottom:40px;
}

.testimonial-wrapper{
height:auto;
}

.side-card{
display:none;
}

.main-card{
position:relative;
width:100%;
min-height:auto;
padding:22px;
}

.card-top{
flex-direction:column;
gap:15px;
}

.profile{
gap:15px;
}

.avatar{
width:65px;
height:65px;
}

.name{
font-size:22px;
}

.role{
font-size:17px;
}

.review{
font-size:17px;
}

.stars{
font-size:26px;
}
}
