<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Footer</title>

<link rel="stylesheet" href="footer.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

<footer>

<div class="container">

<div class="left">

<img src="https://github.com/Praveenpandit315/Baoiam_Website/blob/main/assets/logos/Baoiam%20Logo.jpeg?raw=true">


<p>
Follow us for the latest updates,<br>
career insights,<br>
and program launches.
</p>

<div class="social">

<i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-linkedin-in"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-youtube"></i>

</div>

<h3>DOWNLOAD OUR APP</h3>

<div class="store">
<i class="fab fa-apple"></i>
<div>
<p>Download now</p>
<h4>App Store</h4>
</div>
</div>

<div class="store">
<i class="fab fa-google-play"></i>
<div>
<p>Download now</p>
<h4>Play Store</h4>
</div>
</div>

</div>

<div class="right" id="rightSection">

<div class="column">
<h3>TOP 4 CATEGORY</h3>

<ul>

<li>Udaan 90</li>
<li>Success Fusion Program</li>
<li>Pay after Placement</li>
<li>Pride Fusion</li>

</ul>

</div>

<div class="column">

<h3>QUICK ACCESS</h3>

<ul>

<li>About</li>
<li>Become Instructor</li>
<li>Contact</li>
<li>GCEP</li>

</ul>

</div>

<div class="column">

<h3>SUPPORT</h3>

<ul>

<li>Refund Policy</li>
<li>FAQS</li>
<li>Terms & Conditions</li>
<li>Privacy Policy</li>

</ul>

</div>

</div>

</div>

<hr>

<p class="copy">
©2021 Designed by Baioam. All rights reserved.
</p>

</footer>

<script src="footer.js"></script>

</body>
</html>
