<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Footer</title>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<link rel="stylesheet" href=footer.css">
</head>

<body>

<footer>

<div class="footer-container">

<div class="footer-box logo-box">

<img src="logo.png" alt="BAIOAM Logo" class="logo">

<p>
Follow us for the latest updates,<br>
career insights,<br>
and program launches.
</p>

<div class="social-icons">

<a href="#"><i class="fab fa-facebook-f"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

<a href="#"><i class="fab fa-linkedin"></i></a>

<a href="#"><i class="fab fa-twitter"></i></a>

<a href="#"><i class="fab fa-youtube"></i></a>

</div>

<h3>DOWNLOAD OUR APP</h3>

<div class="app-btn">
<i class="fab fa-apple"></i>
<div>
<span>Download now</span>
<h4>App Store</h4>
</div>
</div>

<div class="app-btn">
<img src="playstore.png" class="play-icon" alt="Play Store">
<div>
<span>Download now</span>
<h4>Play Store</h4>
</div>
</div>

</div>

<div class="footer-box">

<h3>TOP 4 CATEGORY</h3>

<ul>
<li><a href="#">Udaan 90</a></li>
<li><a href="#">Success Fusion Program</a></li>
<li><a href="#">Pay after Placement</a></li>
<li><a href="#">Pride Fusion</a></li>
</ul>

</div>

<div class="footer-box">

<h3>QUICK ACCESS</h3>

<ul>
<li><a href="#">About</a></li>
<li><a href="#">Become Instructor</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">GCEP</a></li>
</ul>

</div>

<div class="footer-box">

<h3>SUPPORT</h3>

<ul>
<li><a href="#">Refund Policy</a></li>
<li><a href="#">FAQS</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>

</div>

</div>

<div class="copyright">
© 2021 - Designed by <b>Baioam.</b> All rights reserved.
</div>

</footer>

</body>
</html>
