* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
  color: #222;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 7%;
  gap: 70px;
}

.left {
  width: 52%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.callback {
  width: 100%;
  max-width: 700px;
  margin-top: -8px;
}

.logo {
  width: 250px;
  margin-bottom: 5px;
  display: block;
}

.description {
  text-align:justify;
  width: 100%;
  max-width: 700px;
  font-size: 23px;
  line-height: 1.55;
  font-weight: 500;
  color: #222;
  margin-bottom: 45px;
}

.callback h2 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #222;
}

.callback p {
  font-size: 17px;
  color: #555;
  margin-bottom: 18px;
}

.form {
  display: flex;
  width: 420px;
  height: 33px;
}

.form select {
  width: 58px;
  border: 1px solid #ddd;
  background: white;
  color: #555;
  font-size: 12px;
  padding-left: 8px;
  outline: none;
}

.form input {
  flex: 1;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 0 18px;
  font-size: 12px;
  outline: none;
}

.form button {
  width: 115px;
  border: none;
  background:  #ff6600;
  color: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.right {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-wrap {
  position: relative;
  width: 450px;
  height: 550px;
}

.phone {
  position: absolute;
  height: auto;
  filter: drop-shadow(0 18px 28px rgba(0, 0, 0, 0.18));
}

.phone-back {
  width: 245px;
  left: 30px;
  top: 10px;
  z-index: 1;
}

.phone-front {
  width: 240px;
  right: 10px;
  top: 115px;
  z-index: 2;
}

@media (max-width: 950px) {
  .hero {
    flex-direction: column;
    padding: 40px 6%;
    gap: 30px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    padding-left: 0;
  }

  .description {
    font-size: 17px;
    margin-bottom: 50px;
  }

  .logo {
    width: 220px;
  }

  .form {
    width: 100%;
  }

  .phone-wrap {
    width: 360px;
    height: 470px;
  }

  .phone-back {
    width: 220px;
    left: 5px;
  }

  .phone-front {
    width: 215px;
    right: 0;
    top: 105px;
  }
}